*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.main-interface{
    width: 300px;
    margin: 30px;
    background-color: red;
    background-image: url(/mobile/images/background.jpg);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    color: white;
    padding:20px ;
}
.content h1{
    font-family: sans-serif;
}
.content p{
    font-family: sans-serif;
}
.app{
    display: flex;
    padding-left: 20px;
     gap: 10px;
     flex-wrap: wrap;


}
.app img{
    width: 30px;
    height: 30px;
   
}
.box{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: wheat;
    margin: 20px;
}
.box img{
    padding-top: 5px;
    width: 40px;
}
.top{
    padding: 20px;
    color: red;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
   
}
.inner{
background: rgb(133, 137, 124);
margin: 10px;
    width: 5px;
    height: 5px;
   border-radius: 100%;
}
.footer{
    background: rgb(15, 14, 14);
    width: 100%;
    height: 20px;
}
.inner-2{
    width: 30px;
    height: 20px;
    
}