*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    margin: 50px;
    padding: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    background-image: url(download\ \(2\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: 40px solid black; */
    border-radius: 5px 5px 5px solid black;
}
.time{
    color: black;
    padding: 4px;
}
.search{
    background:white;
    display: flex;
    justify-content: space-between;
}
.search img{
    width: 30px;
    padding-top: 7px;
    object-fit: cover;
    padding-left: 5px;
}

.app{
    display: flex;
    padding: 20px;
    gap: 6px;
    flex-wrap: wrap;
}
.app img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    
    
}
.search{
    border-radius: 10px;
    height: 50px;
    background-color: antiquewhite;
}
.box{
    width: 30px;
    border: 2px solid;
    margin-left:100px;
    border-radius: 5px;
    background: white;
}
.box img{
    width: 10px;
}
.back{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
    background-color: rgb(92, 73, 73);
}
.center{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(92, 73, 73);
    margin: 5px;
    border: 5px;
}
.side{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(92, 73, 73);
    border: 5px;
}
.div2{
    width: 100%;
    margin-top: 10px;
    background: rgb(249, 247, 247);
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.div2 img{
    width: 20px;
}
.icon img{
    width: 30px;
    text-align: center;
    margin-left: 50px;
    border-radius: 100px;

}