body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 100px;
}
.login-box{
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}